aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-types
anthropic
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
Crawl4AI
cryptography
Deprecated
deprecation
distro
eval_type_backport
executing
fake-http-header
filelock
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
gotrue
greenlet
griffe
groq
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
iniconfig
Jinja2
jiter
joblib
jsonpath-python
jsonschema
jsonschema-specifications
litellm
logfire
logfire-api
lxml
markdown-it-py
MarkupSafe
mdurl
mistralai
mockito
multidict
mypy-extensions
narwhals
nltk
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pandas
pillow
playwright
pluggy
postgrest
propcache
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-ai
pydantic-ai-slim
pydantic_core
pydeck
pyee
Pygments
pyOpenSSL
pytest
pytest-mockito
python-dateutil
python-dotenv
pytz
PyYAML
rank-bm25
realtime
referencing
regex
requests
rich
rpds-py
rsa
six
smmap
sniffio
snowballstemmer
soupsieve
storage3
streamlit
StrEnum
supabase
supafunc
tenacity
tf-playwright-stealth
tiktoken
tokenizers
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
websockets
wrapt
xxhash
yarl
zipp
